/*** TAGS ***/

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25em;
    text-transform: uppercase;
}

/*** CLASSES ***/

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*** IDs ***/
#mainContainer {
    padding: 10px;
    width: 200px;
}

#renderOverlay {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}